#mainwrapper
  display: block
  width: 80%
  max-width: 1200px
  margin: auto
  padding-top: 60px 


header
  h1
    font-family: 'Pacifico', cursive
    color: #555
    line-height: 20px
    position: absolute
    left: 5px
    top: 15px
    font-size: 25px
    @include rotateEffect()



#banner
  height: 360px
  background:
    image: url('../img/index/work-677582_1280.jpg')
    position: 80% 63%
    repeat: no-repeat
  margin: 0


.someaddsense
  margin: auto
  margin-top: 60px
  min-height: 60px
  width: 50%
#someaddsense:before
  content: " "
  display: inline-block
  height: 100%
  vertical-align: middle  
  .addsense
    display: inline-block



