
doctype html
html(lang='en')
  head
    title Twitchtv GRdp
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Twich TV')
    meta(name='robots', contet='index,follow')
    meta(name='author', content='George Crisan at georgerdp@gmail.com')
    link(rel='shortcut icon', href='#/favico.ico')
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='twitchTv.css', rel='stylesheet')
    link(rel="stylesheet", href="../../css/fa/css/font-awesome.min.css")
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 10
      script(src='../../js/html5shiv.min.js')
      script(src='../../js/respond.min.js')
  body
    .main-wrapper
      .article
        h1 TwichTv Streamers 
        section
          img(style={"visibility":"hidden"}) 
          h2 Display Name 
          p Display Status and Stream
          span Off
          span2 On
              
        



    script(src='../../js/jquery-3.2.0.min.js', type='text/javascript')
    script(src='../../js/jquery-ui.min.js', type='text/javascript')
    script(src='../../js/bootstrap.min.js', type='text/javascript')
    script(src='../../js/flexibility.js', type='text/javascript')
    script(src='twitchTv.js', type='text/javascript')
    script(src='../../js/html5shiv.min.js')  