doctype html
html(lang='en')
  head
    title George Crisan 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="I am an innovative Web Developer and my name is George Crisan. I am working with the following technologies Scss/CSS Html/Pug/Jade Javascript/JSX/ES6  Bootstrap/React/ReactDom Node.Js/MongoDB. Please use the contact form. Thank you! ")
    meta(name="robots" contet="index,follow")
    meta(name="author" content="George Crisan at georgerdp@gmail.com")
    meta(name="googlebot" content="index, follow")
    link(rel='shortcut icon', href='../img/icon.ico')
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/georgeCrisanCss.css", rel="stylesheet")
    link(rel="stylesheet", href="../css/fa/css/font-awesome.min.css")

    
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]><script src="js/html5shiv.min.js"></script><script src="js/respond.min.js"></script><![endif]-->

    
    
  body
    div#mainwrapper
      h1 
        | I do the web...
      header.navbar
        button.navbar-toggle.collapsed(type='button',data-toggle='collapse', data-target='#navbar',aria-expanded='false')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      
        nav#navbar.collapse.navbar-collapse(role='navigation')
           
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#portofolio') Portofolio      
            li
              a(href='#contact-me') Contact
            li
              a(href='#about-me') About Me 
      div#banner 
        h3.
           Productivity is never an accident. It is always the result of a commitment to excellence, intelligent planning, and focused effort.
           
      //div.someaddsense
        div.addsense 
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2372442392819950', data-ad-slot='8065407428', data-ad-format='rectangle,horizontal')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({}); 
        

      section#portofolio
        
        .tofill
        h3 Portofolio
        div.flex-wrapper.universalback
          
          
          div.flex-element.comin-soon
            a(href="http://www.georgecrisan.com/projects/pclock/pclock.html")
              img(src='../img/index/pon2.png', alt="Pomodoro Clock")
          div.flex-element.comin-soon
            a(href="http://www.georgecrisan.com/projects/jscalc/jscalc.html")
              img(src='../img/index/jscalc.png', alt="Javascript Calculator")
          div.flex-element.comin-soon
            a(href="http://www.georgecrisan.com/projects/ticktt/ticktt.html")
              img(src='../img/index/ttta.png', alt="Tic Tac Toe")
          div.flex-element.comin-soon
            a(href="http://www.georgecrisan.com/projects/reactmp/reactmp.html")
              img(src='../img/index/333mp.png', alt="Markdown Previwer")    
          div.flex-element.comin-soon 
            a(href="http://www.georgecrisan.com/projects/wikiViewer/wikiV.html")
              img(src="../img/index/WViewe.png", alt="Wikipedia Viewer image printscreen") 
          div.flex-element.comin-soon
            a(href="http://www.georgecrisan.com/projects/weatherApp/weatherApp.html")
              img(src="../img/index/weath1.png", alt="Weather Application")   
          div.flex-element.comin-soon
            a(href="http://www.4seasonscleaning.com/")
              img(src="../img/index/go.png", alt="www.4seasonscleaning.com")
          div.flex-element.comin-soon
            a(href="http://www.georgecrisan.com/projects/randomQuoteM/randomQuoteM.html")
              img(src="../img/index/qmt1.png", alt="Random Quote Machine")  
           
          
          div.flex-element.comin-soon
           // a(href="#")
          div.flex-element.comin-soon
           // a(href="#")
          div.flex-element.comin-soon
           // a(href="#")
          div.flex-element.comin-soon
           // a(href="#")    
      .tofill
      //.someaddsense
        .addsense
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2372442392819950', data-ad-slot='7950479822', data-ad-format='rectangle,horizontal')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});        
  
  
      section#contact-me  
        div.contactwrapper 
          

          .tofill2

          h3 Contact ...

          form(method="POST" action="http://formspree.io/georgerdp@gmail.com")
            input(type="email" name="email" placeholder="Your email") 
            textarea(name="message" placeholder="Your message")
            button(type='submit' ) Send
            
          .tofill2

      section#about-me
        .tofill
        div.gol
          h3 About Me
        .about-flex-wrapper
          div.child.copil1
            h4 Academic Achivements  
            p Bachelor degree in Economics
            p FreeCodeCamp Front End Developer Certificate
          div.child.copil2  
            h4 Web Development Skills
            p Sass/CSS
            p Jade/Pug/Html 
            p Javascript ES5/ES6
            p JQuery
            p Bootstrap
            p Mobile First Web Development
            p Media Querry
            P React/ReactDOM
            p JSX/ES6
            p Node.js 
            p MongoDB
            p UX and Interactive Web Development
            
          div.child.copil3
            h4 Character/Personal Skills 
            p Reliable 
            p Punctual 
            p Honest 
            p Eager To Learn 
            p Eager To Improve
            p Team Player
            p Focused
            p Innovative Thinking

        div.dataacum     
        div.gol2
        .tofill            
            

               

    
      



                

    


    
    script(src='js/jquery-1.12.4.min.js',type="text/javascript")
    script(src='js/jquery-ui.min.js',type="text/javascript")
    script(src='js/bootstrap.min.js',type="text/javascript")
    script(src='js/flexibility.js',type="text/javascript")
    script(src='js/rdpJs.js',type="text/javascript")
    script(src='js/html5shiv.min.js')