doctype html
html(lang='en')
  head
    title George Crisan 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="Javascript, css, Sass, UX, Node, web development, Projects, George Crisan, Web Development, Developer")
    meta(name="robots" contet="index,follow")
    meta(name="author" content="George Crisan at georgerdp@gmail.com")
    meta(name="googlebot" content="index, follow")
    link(rel='shortcut icon', href='#/favico.ico')
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/georgeCrisanCss.css", rel="stylesheet")
    link(rel="stylesheet", href="../css/fa/css/font-awesome.min.css")

    
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]><script src="js/html5shiv.min.js"></script><script src="js/respond.min.js"></script><![endif]-->

    
    
  body
    div#mainwrapper
      h1 
        | I do the web...
      header.navbar
        button.navbar-toggle.collapsed(type='button',data-toggle='collapse', data-target='#navbar',aria-expanded='false')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      
        nav#navbar.collapse.navbar-collapse(role='navigation')
           
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#portofolio') Portofolio      
            li
              a(href='#contact-me') Contact
            li
              a(href='#about-me') About Me 
      div#banner 
           
      div.someaddsense
        div.addsense 
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2372442392819950', data-ad-slot='8065407428', data-ad-format='auto')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({}); 
        

      section#portofolio
        h3 Portofolio
        .tofill
        div.flex-wrapper
          div.flex-element.comin-soon 
            a(href="http://www.georgecrisan.com/projects/wikiViewer/wikiV.html")
              img(src="../img/index/WViewe.png", alt="Wikipedia Viewer image printscreen") 
          div.flex-element.comin-soon
            a(href="http://www.georgecrisan.com/projects/weatherApp/weatherApp.html")
              img(src="../img/index/weath1.png", alt="Weather Application")   
          div.flex-element.comin-soon
            a(href="http://www.4seasonscleaning.com/")
              img(src="../img/index/go.png", alt="www.4seasonscleaning.com")
          div.flex-element.comin-soon
            a(href="http://www.georgecrisan.com/projects/randomQuoteM/randomQuoteM.html")
              img(src="../img/index/qmt1.png", alt="Random Quote Machine")  
           
          div.flex-element.comin-soon
           // a(href="#")
          div.flex-element.comin-soon
           // a(href="#")
          div.flex-element.comin-soon
           // a(href="#")
          div.flex-element.comin-soon
           // a(href="#")
          div.flex-element.comin-soon
           // a(href="#")    
      .tofill
      .someaddsense
        .addsense
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2372442392819950', data-ad-slot='7950479822', data-ad-format='auto')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});        
  
  
      section#contact-me  
        div.contactwrapper 
          h3 Contact ...

          .tofill2

          form(method="POST" action="http://formspree.io/georgerdp@gmail.com")
            input(type="email" name="email" placeholder="Your email") 
            textarea(name="message" placeholder="Your message")
            button(type='submit' ) Send
            
          .tofill2

      section#about-me
        h3 About Me
        .about-flex-wrapper
          .aboutwrapper1

    
      



                

    


    
    script(src='js/jquery-1.12.4.min.js',type="text/javascript")
    script(src='js/jquery-ui.min.js',type="text/javascript")
    script(src='js/bootstrap.min.js',type="text/javascript")
    script(src='js/flexibility.js',type="text/javascript")
    script(src='js/rdpJs.js',type="text/javascript")
    script(src='js/html5shiv.min.js')