doctype html
html(lang="en")
  head 
    title tick tack toe
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='I do web pages ...')
    meta(name='robots', contet='index,follow')
    meta(name='author', content='George Crisan at georgerdp@gmail.com')
    link(rel='shortcut icon', href='#/favico.ico')
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href="ticktt.css" rel="stylesheet")

  body
    .container
      h1.expl Kirill is a good boy 

     
       



    
    script(src='../../js/jquery-3.2.0.min.js', type='text/javascript')
    script(src='../../js/jquery-ui.min.js', type='text/javascript')
    script(src='../../js/bootstrap.min.js',type="text/javascript")
    script(src='../../js/flexibility.js', type='text/javascript')
    script(src="ticktt.js")