doctype html
html(lang="en")
  head 
    title tick tack toe
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='I do web pages ...')
    meta(name='robots', contet='index,follow')
    meta(name='author', content='George Crisan at georgerdp@gmail.com')
    link(rel='shortcut icon', href='#/favico.ico')
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href="ticktt.css" rel="stylesheet")
    link(href="css/font-awesome.min.css" rel="stylesheet")


  body
    .wrapper
      .container-welcome
        h1.expl Chose your Symbol: 
        .cont-choices
          span
            i.fa.fa-circle-o.uni2.bounce(aria-hidden="true")
          span 
            i.fa.fa-times.uni1.bounce2(aria-hidden="true")
      h1.none Kyrill`s Tic Tac Toe  
      .container-area     
        canvas#myCanvas
      .boxes
        span.el0 
          i.fa(aria-hidden="true")
        span.el1 
          i.fa(aria-hidden="true")
        span.el2 
          i.fa(aria-hidden="true")
        span.el3
          i.fa(aria-hidden="true")
        span.el4
          i.fa(aria-hidden="true")
        span.el5
          i.fa(aria-hidden="true")
        span.el6
          i.fa(aria-hidden="true")
        span.el7
          i.fa(aria-hidden="true")
        span.el8 
          i.fa(aria-hidden="true")
     
       



    
    script(src='../../js/jquery-3.2.0.min.js', type='text/javascript')
    script(src='../../js/jquery-ui.min.js', type='text/javascript')
    script(src='../../js/bootstrap.min.js',type="text/javascript")
    script(src='../../js/flexibility.js', type='text/javascript')
    script(src="ticktt.js")