doctype html
html(lang='en')
  head
    title Quote Generator Machine 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='I do web pages ...')
    meta(name='robots', contet='index,follow')
    meta(name='author', content='George Crisan at georgerdp@gmail.com')
    link(rel='shortcut icon', href='#/favico.ico')
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='projectQuoteM.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 10
      script(src='../../js/html5shiv.min.js')
      script(src='../../js/respond.min.js')
  body
    div.addsense2 
      script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2372442392819950', data-ad-slot='8065407428', data-ad-format='auto')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({}); 
    .container
      .wrapper.neonAndEntry.quote-machine
        header.neonAndEntry
          h1 George Crisan Random Quote Machine 
        main.neonAndEntry
          blockquote#quote
            p Generate a new Quote using the button bellow.
          .block
            a#newQuoteBtn.btn.delayDisplay(href='#') New Quote
            span#tweet-wrapper
              a( href="#" target="")
      
    a.backBtn(href="http://www.georgecrisan.com/") Back  



    .addsense
          script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
          ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2372442392819950', data-ad-slot='7950479822', data-ad-format='auto')
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});    
    script(src='../../js/jquery-1.12.4.min.js', type='text/javascript')
    script(src='../../js/jquery-ui.min.js', type='text/javascript')
    script(src='../../js/bootstrap.min.js', type='text/javascript')
    script(src='../../js/flexibility.js', type='text/javascript')
    script(src='rdp.js', type='text/javascript')
    script(src='../../js/html5shiv.min.js')