doctype html
html(lang='en')
  head
    title George Crisan 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="I am an innovative Web Developer. I am working with the following technologies Scss/CSS Html/Pug Javascript/JSX/ES6  Bootstrap/React/ReactDom Node.Js/MongoDB. Please use the contact form. Thank you! ")
    meta(name="robots" contet="index,follow")
    meta(name="author" content="George Crisan at georgerdp@gmail.com")
    meta(property='og:title', content='Web Development George C.')
    meta(property='og:description', content='George Crisan. Front-end/Back-end web developer.')
    meta(property='og:image', content='http://www.georgecrisan.com/assets/images/thumbnail.png')
    meta(property='og:url', content='http://www.georgecrisan.com/')

    meta(name="googlebot" content="index, follow")
    link(rel='shortcut icon', href='../assets/images/icon.ico')
    link(href="bootstrap.min.css", rel="stylesheet")
    link(href='animate.min.css',rel='stylesheet')
    link(href="bundle-dist.css", rel="stylesheet")


    
    

  body
    div#particles-js.just-parts
    span(class='menu-button' ) Menu
    nav#mySidenav.sidenav
      a( class='closebtn' ) 
        i(class="fa fa-times fa-1x" aria-hidden="true").icon-close
      a(href='#') Home
      a(href='#portofolio-links') Portfolio
      a(href='#About-extra') About Me
      a(href='#Contact-extra') Contact
    section.jumbotron-custom
      div.little-box
         
        h1.
          My name is George Crisan and I believe that productivity is the result of a commitment to excellence, intelligent planning, and focused effort.  

          
         
    main 
      div#portofolio-links 
        

        a(href='https://www.linkedin.com/in/george-crisan-a2682b12a/'  target="_blank")
          i.fab.fa-linkedin.fa-2x.icons
        a(href='https://www.freecodecamp.org/georgecrisan'  target="_blank")
          i.fab.fa-free-code-camp.fa-2x.icons
        a(href='#')
          i.fab.fa-google-plus-g.fa-2x.icons
        a(href='https://codepen.io/GeorgeCrisan/'  target="_blank")
          i.fab.fa-codepen.fa-2x.icons

      div.container-fluid.custom-portofolio-container
        h2 Portfolio
        div#portofolio 
          div.box1.order1
            a(href='http://www.mariusmusan.com'  target="_blank")
              img 
            a(href='http://www.mariusmusan.com'  target="_blank").switch0.cover-to-hide 
              p Photo Gallery.
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fa-sass.fa-2x.icons2
                i.fab.fas.fa-arrows-alt.fa-2x.icons2
              p Made with: Bootstrap3, Jquery, Sass, Pug, Responsive.
              p Front-End Project.
          div.box1.order1
            a(href='https://voting-up.herokuapp.com/'  target="_blank")
              img
            a(href='https://voting-up.herokuapp.com/'  target="_blank").switch1.cover-to-hide
              p Voting application.
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fa-react.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2
              p Made with: Node.js, React, Bootstrap, ExpressJS, PassportJS, Mongodb, Jwt, RESTful, CRUD.
              p Back-end/Front-End Project Responsive.

          div.box1.order1           
            a(href='http://www.gardenshed-norwich.co.uk/'  target="_blank")
              img
            a(href='http://www.gardenshed-norwich.co.uk/'  target="_blank").switch2.cover-to-hide 
              p Gardenshed-norwich.co.uk 
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2
                i.fab.fas.fa-arrows-alt.fa-2x.icons2

              p Made with: jQuery, Google Maps Api, Pug, Flex-Box.
              p Front-End Project Responsive.

          div.box1.order1
            a(href='projects/pclock/pclock.html'  target="_blank")
              img
            a(href='projects/pclock/pclock.html'  target="_blank").switch3.cover-to-hide 
              p Pomodoro Clock!
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2
              p Made with: Vanilla Javascript, Pug, Sass.
              p Front-End Project.

          div.box1.order1
            a(href='projects/pclock/pclock.html'  target="_blank")            
              img
            a(href='projects/wikiViewer/wikiV.html'  target="_blank").switch4.cover-to-hide 
              p Wikipedia Viewer!
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2

              p Made with: Vanilla Javascript, Pug, Sass, Wikipedia Api.
              p Front-End Project.

          
          div.box1.order1
            a(href='https://georgecrisan.github.io/MemoryK/'  target="_blank")            
              img
            a(href='https://georgecrisan.github.io/MemoryK/'  target="_blank").switch5.cover-to-hide 
              p Memory Game!
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fa-sass.fa-2x.icons2
                i.fab.fas.fa-arrows-alt.fa-2x.icons2
              p Made with: VanillaJs, Lodash, Pug, Responsive.
              p Front-End Project. 

          

          div.box1.order1
            a(href='projects/jscalc/jscalc.html'  target="_blank")            
              img
            a(href='projects/jscalc/jscalc.html'  target="_blank").switch6.cover-to-hide 
              p Javascript Calculator!
              div
                i.fab.fa-js-square.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2
              p Made with: Vanilla Javascript, Pug, Sass.
              p Front-End Project.

          div.box1.order1
            a(href='projects/reactrecipe2/index.html'  target="_blank")            
              img
            a(href='projects/reactrecipe2/index.html'  target="_blank").switch7.cover-to-hide 
              p Nina`s recipes!
              div
                i.fab.fa-react.fa-2x.icons2
              p Made with: React, React-Bootstrap.
              p Front-End Project.


          div.box1.order1
            a(href='projects/ticktt/index.html'  target="_blank")            
              img
            a(href='projects/dungeongame/index.html'  target="_blank").switch8.cover-to-hide 
              p Dungeon Game.
              div
                i.fab.fa-react.fa-2x.icons2
                i.fab.fab.fa-sass.fa-2x.icons2
              p Made with: React, Sass.
              p Front-End Project.    

             
  

    section#About-extra
    section.about-me 
     
      h3 I am working with the following technologies. 
      
      #work-with
      h2.retro Qualifications and Skills   
      .container-am
        
        .personal-skill
          h2 Personal Attributes
          ul 
            li Reliable. 
            li Punctual. 
            li Proficient lone worker.
            li Honest.
            li Keen to deliver before time limits.
            li Development of RESTful api.
            
        .qualifications
          h2 Academic Qualifications
          ul 
              li BACHELOR IN ECONOMICS 2008-2011
                p Accounting and information management systems
                p Tibiscus University, Timisoara
              li HIGH SCHOOL GRADUATION CERTIFICATE 2004-2008
                p GCE Advanced Level comparable to GCSE grade A*-C

          
    section#Contact-extra
      h2 Contact 
    section.contact
      
      .contact-container 
        
        form(action='https://formspree.io/georgerdp@gmail.com', method='POST')
          input(type='hidden', name='_next', value='https://georgecrisan.com')
          p Your name:
          input(type='text', name='name', placeholder="Your name") 
          p Your email:
          input(type='email', name='_replyto' , placeholder="Your email")
          p Message:
          textarea(name="message" , placeholder="Your message")
          input(type='submit', value='Send')
    footer
      p 2018 Made by georgerdp@gmail.com




 




    script(src='bundle-dist.js',type="text/javascript", crossorigin='anonymous')
    script(src='mainjs-dist.js',type="text/javascript", crossorigin='anonymous')