doctype html
html(lang="en")
  head 
    title Simon Game by G.Crisan
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Simon Game by George Crisan')
    meta(name='robots', contet='index,follow')
    meta(name='author', content='George Crisan at georgerdp@gmail.com')
    link(rel='shortcut icon', href='../../img/icon.ico')
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link( href="bootstrap-switch.min.css" rel="stylesheet")
    link(href="sise.css" rel="stylesheet")



  body
    .wrapper 
      .wrapper-bt#fiGt 
        .bt.bt1#green
        .bt.bt2#red
        .bt.bt3#yellow 
        .bt.bt4#blue
      .center
        h1 Rdp
        .count#count  -
          p Count
        .start#start 
          p Start
        .strict
          p Strict
        .strict-bulb
        .switcho
          input(type="checkbox" name="my-checkbox" )



    
    script(src='../../js/jquery-3.2.0.min.js', type='text/javascript')
    script(src='../../js/jquery-ui.min.js', type='text/javascript')
    script(src='../../js/bootstrap.min.js',type="text/javascript")
    script(src='../../js/flexibility.js', type='text/javascript')
    script(src="bootstrap-switch.min.js", type= "text/javascript")
    script(src="sise.js")