doctype html
html(lang="en")
  head 
    title Pomodoro Clock
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='I do web pages ...')
    meta(name='robots', contet='index,follow')
    meta(name='author', content='George Crisan at georgerdp@gmail.com')
    link(rel='shortcut icon', href='#/favico.ico')
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href="pclock.css" rel="stylesheet")

  body
    .main-wrapper
      h1 Pomodoro Clock
      .pclock
        #timers-container 
          .break-ct
            h3 Break
            button.break -
            span 05:00
            button.break +
          .set-timer-ct
            h3 Timer
            button.set-timer -
            span 25:00
            button.set-timer +
        #display
          p Status: 
            span#status Sesion/Brake
          p 25:00  


    
    script(src='../../js/jquery-3.2.0.min.js', type='text/javascript')
    script(src='../../js/jquery-ui.min.js', type='text/javascript')
    script(src='../../  js/bootstrap.min.js',type="text/javascript")
    script(src='../../js/flexibility.js', type='text/javascript')
    script(src="pclock.js")