doctype html
html(lang="en")
  head 
    title Pomodoro Clock
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='I do web pages ...')
    meta(name='robots', contet='index,follow')
    meta(name='author', content='George Crisan at georgerdp@gmail.com')
    link(rel='shortcut icon', href='#/favico.ico')
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href="pclock.css" rel="stylesheet")

  body
    .main-wrapper
      .pclock
        h1 P Clock by GeorgeC
        #timers-container 
          button.break -
          span Break 05:00
          button.break +
          button.set-timer -
          span Timer 25:00
          button.set-timer +
        #display
          p 25:00  


    
    script(src='../../js/jquery-3.2.0.min.js', type='text/javascript')
    script(src='../../js/jquery-ui.min.js', type='text/javascript')
    script(src='../../js/flexibility.js', type='text/javascript')
    script(src="pclock.js")